altgraph==0.17.4
certifi==2023.7.22       
charset-normalizer==3.3.2
colorama==0.4.6
docutils==0.20.1
idna==3.4
importlib-metadata==6.8.0
Kivy==2.2.1
kivy-deps.angle==0.3.3   
kivy-deps.glew==0.3.1    
kivy-deps.sdl2==0.6.0    
Kivy-Garden==0.1.5
logging==0.4.9.6
packaging==23.2
pcapng==0.1.25
pefile==2023.2.7
Pygments==2.16.1
pyinstaller==6.1.0
pyinstaller-hooks-contrib==2023.10
pypiwin32==223
pywin32==306
pywin32-ctypes==0.2.2
requests==2.31.0
urllib3==2.0.7
zipp==3.17.0